{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
{% include "style.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block body %}
<div>
    <a href="/">На главную</a>
</div>

<br>
<br>

<div>
    <a href="/create-course/?id={{id}}">Создать новый курс</a>
    <br>
    <h1>Список курсов для категории "{{name}}"</h1>
    {% for item in objects %}
    <li>
        {{item.name}} <span><a href="/copy-course/?name={{item.name}}">Скопировать</a></span>
    </li>
    {% endfor %}
</div>
{% endblock %}