<!DOCTYPE html>
<html>
<head>
    <title>Тестовый фреймворк</title>
<body>
<h1>Какая-то информация</h1>
<form action="" method="post">
    <fieldset>
        <legend>Отправить сообщение</legend>
        <p><label class="title" for="name">Тема:</label>
            <input id="name" name="name" type="text"><br/>
            <label class="body" for="data">Текст:</label>
            <input id="data" name="data" type="text"><br/>
            <label class="title" for="email">Email:</label>
            <input id="email" name="email" type="text"></p>
    </fieldset>
    <div class="submit"><input type="submit" value="Отправить"/></div>
</form>
</body>
</html>
