{% extends "base.html" %}
{% block title %}
Framer - форма обратной связи
{% endblock %}
{% block style %}
{% include "style.html" %}
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block body %}
<h4>Форма обратной связи</h4>
<div class="content">
    <form action="" method="post">
        <fieldset>
            <legend>Отправить сообщение</legend>
            <p>
                <label class="title" for="name">Тема:</label><input id="name" name="name" type="text"><br/>
                <label class="title" for="data">Текст:</label><input id="data" name="data" type="text"><br/>
                <label class="title" for="email">Email:</label><input id="email" name="email" type="text"></p>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"/></div>
    </form>
</div>
{% endblock %}